/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
/* En tu styles.css */
section {
  background-color: #050505; /* Evita el flash blanco/gris antes de la imagen */
}
